/* .main-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #8de8f2;
  line-height: 1.3;
  background-image: url("https://cdn.dribbble.com/users/742876/screenshots/3631385/media/e3a9dc68675884813a0f5274f1752983.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}
/* a:link, a:visited {
  transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
} */
.container {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.quantity_minus,
.quantity_plus {
  display: block;
  width: 53px;
  height: 54px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}
.quantity_minus:hover,
.quantity_plus:hover {
  background: #575b71;
  color: #fff;
}
.quantity_minus {
  border-radius: 3px 0 0 3px;
}
.quantity_plus {
  border-radius: 0 3px 3px 0;
}
.quantity_input {
  width: 5rem;
  height: 50.5px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity_minus:link,
.quantity_plus:link {
  color: #8184a1;
}
.quantity_minus:visited,
.quantity_plus:visited {
  color: #fff;
}